.login-pop-over {
    width: 450px;
    height: auto;
    background-color: white;
    margin: 1% auto 0;
    padding: 20px 30px 20px;
    border-radius: 20px;
    text-align: center
}

h3 {
    font-size: 1.6em;
    text-align: left;
    padding-bottom: 7px;
    color: darkslategrey;
}

label {
    float: left;
    font-weight: 500;
    margin-bottom: 0;
    font-size: .95rem;
}

.background {
    background: url('../../../assets/images/background.jpg');
    overflow: hidden !important;
    min-height: 657px;
}

.form-group {
    margin-bottom: .7rem;
}

.image-input {
    float: left;
}

.application-image {
    height: 80px !important;
}

.navbar {
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding: 0;
    cursor: pointer;
}

.application-heading {
    padding-top: 30px;
    font-size: 1.7em;
    color: darkslategrey;
}

.invalid-feedback {
    text-align: left;
    display: inherit !important;
}

.login-link {
    cursor: pointer;
    color: #17a2b8;
}

p {
    margin: 0;
    text-align: left;
}