<div class="background">
    <form *ngIf="badRequestMessage==''" [formGroup]='resetPasswordForm' (ngSubmit)="submitPassword(resetPasswordForm)" id="resetPasswordForm" class="form login-pop-over" novalidate>

        <a [routerLink]="['']"><img src="../../../assets/images/logo_training.png"></a>

        <div class="form-group">
            <label for="newPassword">New Password</label>
            <input type="password" class="form-control form-input" name="newPassword" formControlName='newPassword' #newPassword id="newPassword" autocomplete="off" [ngClass]="{ 'is-invalid': submitted && model.newPassword.errors }" reverse="true">
            <div *ngIf="submitted && model.newPassword.errors" class="invalid-feedback">
                <div *ngIf="model.newPassword.errors.required">*required</div>
                <div *ngIf="model.newPassword.errors.minlength">Minimum 6 characters are required</div>
                <div *ngIf="model.newPassword.errors.maxlength">Maximum 10 characters are required</div>
                <div *ngIf="model.newPassword.errors.pattern">Password must be in lowercase</div>
            </div>
        </div>

        <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" (keyup)="!passwordMatchCheck || newPasswordConfirm($event)" class="form-control form-input" name="confirmPassword" formControlName='confirmPassword' #confirmPassword id="confirmPassword" autocomplete="off" [ngClass]="{ 'is-invalid': submitted && model.confirmPassword.errors }"
                reverse="false">
            <div *ngIf="submitted && model.confirmPassword.errors" class="invalid-feedback">
                <div *ngIf="model.confirmPassword.errors.required">*required</div>
            </div>
            <div *ngIf="passwordMatchCheck" class="error-message">*passwords do not match</div>
        </div>

        <div class="form-group">
            <input type="submit" value="Update" title="Update" class="btn btn-info">&nbsp;
            <input type="reset" value="Reset" title="Reset" (click)="resetForm(resetPasswordForm)" class="btn btn-secondary">
        </div>
    </form>
    <div *ngIf="badRequestMessage!=''" class="badRequest-message">
        {{badRequestMessage}}
    </div>
</div>