<div class="container body-content">
    <h3 translate>
        {{pageTitle}}
    </h3>
    <div class="col-md-12" id="text_link">
        <a [routerLink]="['/admin/product']" title="{{'common.back' | translate}}" translate>common.back</a>
    </div>
    <mat-tab-group>

        <mat-tab label="Product Information">
            <ng-template matTabContent>
                <br>
                <form #productForm="ngForm" (ngSubmit)="add(productForm)" class="form-group" novalidate>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header bg-light text-dark">
                                    <h5 translate>
                                        product-detail.general-info
                                    </h5>
                                </div>
                                <div class="card-body">
                                    <div hidden translate>product.productID</div>
                                    <input hidden class="form-control form-input" autocomplete="off" name="ProductID" #ProductID="ngModel" [(ngModel)]="model.productID" id="ProductID" />
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4 col-12">
                                            <label for="ProductName" translate>product.name </label>
                                        </div>
                                        <div class="col-md-8 col-sm-8 col-12">
                                            <input type="text" class="form-control form-input text-box" autocomplete="off" name="ProductName" #ProductName="ngModel" [(ngModel)]="model.productName" [ngClass]="{ 'is-invalid': ProductName.errors && submitted}" id="ProductName" required (keyup)="sameNameCheck=='' || editSameName($event)"
                                                maxlength="15" />
                                            <div *ngIf="submitted && ProductName.errors?.required" class="invalid-feedback validation-message" translate>required</div>
                                            <div *ngIf="sameNameCheck!==''" class="error-message">{{sameNameCheck}}</div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4 col-12">
                                            <label for="ShortDescription" translate>product.short-desc </label>
                                        </div>
                                        <div class="col-md-8 col-sm-8 col-12">
                                            <textarea id="ShortDescription" class="form-control form-input" name="ShortDescription" autocomplete="off" #ShortDescription="ngModel" [(ngModel)]="model.shortDescription" [ngClass]="{ 'is-invalid': ShortDescription.errors && submitted}" id="ShortDescription"
                                                maxlength="50" required>
                    </textarea>
                                            <div *ngIf="submitted && ShortDescription.errors?.required" class="invalid-feedback validation-message" translate>required</div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4 col-12">
                                            <label for="LongDescription" translate>product-detail.long-desc </label>
                                        </div>
                                        <div class="col-md-8 col-sm-8 col-12">
                                            <textarea id="LongDescription" class="form-control form-input" name="LongDescription" autocomplete="off" #LongDescription="ngModel" [(ngModel)]="model.longDescription" [ngClass]="{ 'is-invalid': LongDescription.errors && submitted}" id="LongDescription"
                                                maxlength="100" required>
                                                                                        </textarea>
                                            <div *ngIf="submitted && LongDescription.errors?.required" class="invalid-feedback validation-message" translate>required</div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4 col-12">
                                            <label for="CategoryID" translate>product-detail.category</label>
                                        </div>
                                        <div class="col-md-8 col-sm-8 col-12">
                                            <select class="form-control form-input text-box" name="CategoryID" #CategoryID="ngModel" [(ngModel)]="model.categoryID" [ngClass]="{ 'is-invalid': CategoryID.errors && submitted}" id="CategoryID" required>
                      <option value="0" selected="true" disabled translate>product-detail.select</option>
                      <option [value]="category.id" *ngFor="let category of CategoryArr">{{category.name}}</option>
                      <option *ngIf="message != ''">{{message}}</option>
                    </select>
                                            <div *ngIf="submitted && CategoryID.errors?.required" class="invalid-feedback validation-message" translate>required</div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4 col-12">
                                            <label for="ModelNumber" translate>product-detail.model-num</label>
                                        </div>
                                        <div class="col-md-8 col-sm-8 col-12">
                                            <input type="text" class="form-control form-input text-box" autocomplete="off" name="ModelNumber" #ModelNumber="ngModel" [(ngModel)]="model.modelNumber" [ngClass]="{ 'is-invalid': ModelNumber.errors && submitted}" id="ModelNumber" required (keyup)="sameModelCheck=='' || editSameModel($event)"
                                                maxlength="8" />
                                            <div *ngIf="submitted && ModelNumber.errors?.required" class="invalid-feedback validation-message" translate>required</div>
                                            <div *ngIf="sameModelCheck !==''" class="error-message">{{sameModelCheck}}</div>
                                        </div>
                                    </div>
                                    <br>
                                    <div>
                                        <input type="checkbox" class="form-control form-input checkbox-select" name="OnHomePage" id="OnHomePage" #OnHomePage="ngModel" [(ngModel)]="model.onHomePage" />
                                        <label for="OnHomePage" translate>product-detail.on-home</label>
                                    </div>
                                    <div>
                                        <input type="checkbox" class="form-control form-input checkbox-select" name="MarkNew" id="MarkNew" #MarkNew="ngModel" [(ngModel)]="model.markNew" />
                                        <label for="MarkNew" translate>product-detail.mark-new</label>
                                    </div>
                                    <div>
                                        <input type="checkbox" class="form-control form-input checkbox-select" name="AllowCustomerReviews" id="AllowCustomerReviews" #AllowCustomerReviews="ngModel" [(ngModel)]="model.allowCustomerReviews" />
                                        <label for="AllowCustomerReviews" translate>product-detail.allow-reviews</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header bg-light text-dark">
                                    <h5 translate>
                                        product.price
                                    </h5>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4 col-12">
                                            <label for="Price" translate>product-detail.price-in-rupee</label>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-12">
                                            <input type="number" class="form-control form-input text-box" autocomplete="off" name="Price" #Price="ngModel" [(ngModel)]="model.price" [ngClass]="{ 'is-invalid': Price.errors && submitted}" id="Price" maxlength="6" required />
                                            <div *ngIf="submitted && Price.errors?.required" class="invalid-feedback validation-message" translate>required</div>
                                        </div>
                                    </div>
                                    <br>
                                    <div>
                                        <input type="checkbox" (change)="selectDiscount()" class="form-control form-input checkbox-select" name="IsDiscounted" id="IsDiscounted" #IsDiscounted="ngModel" [(ngModel)]="model.isDiscounted" />
                                        <label for="IsDiscounted" translate>product-detail.is-discount</label>
                                    </div>
                                    <div *ngIf="isDiscount" class="row">
                                        <div class="col-md-4 col-sm-4 col-12">
                                            <label for="DiscountPercent" translate>product-detail.discount-percent </label>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-12">
                                            <input type="number" maxlength="2" required [ngClass]="{ 'is-invalid':DiscountPercent.errors && submitted}" class="form-control form-input text-box" autocomplete="off" name="DiscountPercent" #DiscountPercent="ngModel" [(ngModel)]="model.discountPercent"
                                                id="DiscountPercent" />
                                            <div *ngIf="DiscountPercent.errors?.required && isDiscount" class="invalid-feedback validation-message" translate>required</div>
                                            <br>
                                        </div>
                                    </div>
                                    <div>
                                        <input type="checkbox" (change)="selectTax()" class="form-control form-input checkbox-select" name="TaxExempted" id="TaxExempted" #TaxExempted="ngModel" [(ngModel)]="model.taxExempted" />
                                        <label for="TaxExempted" translate>product-detail.tax</label>
                                    </div>
                                    <div *ngIf="isTax" class="row">
                                        <div class="col-md-4 col-sm-4 col-12">
                                            <label for="Tax" translate>product-detail.tax-percent</label>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-12">
                                            <input type="number" required maxlength="2" [ngClass]="{ 'is-invalid':Tax.errors && submitted}" class="form-control form-input text-box" autocomplete="off" name="Tax" #Tax="ngModel" [(ngModel)]="model.tax" id="Tax" />
                                            <div *ngIf="Tax.errors?.required && submitted" class="invalid-feedback validation-message" translate>required</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="card">
                                <div class="card-header bg-light text-dark">
                                    <h5 translate>
                                        product-detail.inventory
                                    </h5>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4 col-12">
                                            <label for="QuantityInStock" translate>product-detail.quant-stock</label>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-12">
                                            <input type="number" maxlength="3" class="form-control form-input text-box" autocomplete="off" name="QuantityInStock" #QuantityInStock="ngModel" [(ngModel)]="model.quantityInStock" [ngClass]="{ 'is-invalid': QuantityInStock.errors && submitted}" id="QuantityInStock"
                                                required />
                                            <div *ngIf="submitted && QuantityInStock.errors?.required" class="invalid-feedback validation-message" translate>required</div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4 col-12">
                                            <label for="QuantityType" translate>product-detail.quant-type</label>
                                        </div>
                                        <div class="col-md-5 col-sm-5 col-12">
                                            <select class="form-control form-input text-box" name="QuantityType" #QuantityType="ngModel" [(ngModel)]="model.quantityType" [ngClass]="{ 'is-invalid': QuantityType.errors && submitted}" id="QuantityType" required>
                      <option value="0" selected="true" disabled>-select-</option>
                      <option *ngFor="let key of keys" [value]="key" [label]="quantityType[key]"></option>
                    </select>
                                            <div *ngIf="submitted && QuantityType.errors?.required" class="invalid-feedback validation-message" translate>required</div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4 col-12">
                                            <label for="VisibleStartDate" translate>product-detail.start-date </label>
                                        </div>
                                        <div class="col-md-5 col-sm-5 col-12">
                                            <input matInput [matDatepicker]="pickerStart" autocomplete="off" class="form-control form-input text-box" name="VisibleStartDate" #VisibleStartDate="ngModel" [(ngModel)]="model.visibleStartDate" [ngClass]="{ 'is-invalid': VisibleStartDate.errors && submitted}"
                                                id="VisibleStartDate" required placeholder="Enter Date" [min]="minDate" (ngModelChange)="endDate($event)">
                                            <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                                            <mat-datepicker #pickerStart></mat-datepicker>
                                            <div *ngIf="submitted && VisibleStartDate.errors?.required" class="invalid-feedback validation-message" translate>required</div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4 col-12">
                                            <label for="VisibleEndDate" translate>product-detail.end-date </label>
                                        </div>
                                        <div class="col-md-5 col-sm-5 col-12">
                                            <input matInput [matDatepicker]="pickerEnd" autocomplete="off" class="form-control form-input text-box" name="VisibleEndDate" #VisibleEndDate="ngModel" [(ngModel)]="model.visibleEndDate" [ngClass]="{ 'is-invalid': VisibleEndDate.errors && submitted}"
                                                id="VisibleEndDate" required placeholder="Enter Date" [min]="maxDate">
                                            <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                                            <mat-datepicker #pickerEnd></mat-datepicker>
                                            <div *ngIf="submitted && VisibleEndDate.errors?.required" class="invalid-feedback validation-message" translate>required</div>
                                            <div *ngIf="submitted && !VisibleEndDate.errors?.valid" class="invalid-feedback" translate>product-detail.date-val</div>
                                        </div>
                                    </div>
                                    <br>
                                    <div>
                                        <input type="checkbox" class="form-control form-input checkbox-select" name="IsActive" id="IsActive" #IsActive="ngModel" [(ngModel)]="model.isActive" />
                                        <label for="IsActive" translate>product-detail.show-avail</label>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="card">
                                <div class="card-header bg-light text-dark">
                                    <h5 translate>
                                        product-detail.shipping
                                    </h5>
                                </div>
                                <div class="card-body">
                                    <div>
                                        <input type="checkbox" (change)="selectShipping()" class="form-control form-input checkbox-select" name="ShippingEnabled" id="ShippingEnabled" #ShippingEnabled="ngModel" [(ngModel)]="model.shipingEnabled" />
                                        <label for="ShippingEnabled" translate>product-detail.shipping-charge</label>
                                    </div>
                                    <div *ngIf="isShipping" class="row">
                                        <div class="col-md-4 col-sm-4 col-12">
                                            <label for="ShippingCharges" translate>product-detail.ship-in-rupee</label>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-12">
                                            <input type="number" maxlength="3" class="form-control form-input text-box" [ngClass]="{ 'is-invalid': ShippingCharges.errors && submitted}" autocomplete="off" name="ShippingCharges" #ShippingCharges="ngModel" [(ngModel)]="model.shippingCharges" id="ShippingCharges"
                                                required />
                                            <div *ngIf="submitted && ShippingCharges.errors?.required" class="invalid-feedback validation-message" translate>required</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div id="div-btn">
                        <button type="submit" [disabled]="loading" class="btn btn-info" title="{{'common.submit' | translate}}" translate>common.submit</button>&nbsp;
                        <button type="reset" value="{{'common.reset' | translate}}" class="btn btn-secondary" (click)="resetForm(productForm)" title="{{'common.reset' | translate}}" translate>common.reset</button>
                    </div>
                </form>
            </ng-template>
        </mat-tab>

        <mat-tab label="Images" *ngIf="editPage">
            <ng-template matTabContent>
                <app-product-images></app-product-images>
            </ng-template>
        </mat-tab>

        <mat-tab label="Product Attributes" *ngIf="editPage">
            <ng-template matTabContent>
                <app-product-attribute-values></app-product-attribute-values>
            </ng-template>
        </mat-tab>

    </mat-tab-group>
</div>