.login-pop-over {
    width: 450px;
    height: auto;
    background-color: white;
    margin: 1% auto 0;
    padding: 30px 30px 10px;
    border-radius: 30px;
    text-align: center
}

.form {
    width: 350px;
    margin-top: 70px;
}

.background {
    background: url('../../../assets/images/background.jpg');
    overflow: hidden !important;
    min-height: 657px;
}

.top-margin {
    margin-top: 45px;
}

img {
    height: 250px;
    width: auto;
    padding-bottom: 30px;
}

.inner-margin {
    padding-left: 50px;
    padding-right: 50px;
}

.invalid-feedback {
    text-align: left;
}

.passwordLink {
    text-align: right;
    font-size: 12px;
}