h3 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: darkslategrey;
    font-weight: 300;
}

h4 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: darkslategrey;
    font-weight: 300;
}

hr {
    margin-bottom: 2rem;
}

.body-content {
    padding-top: 20px;
}

.form-input {
    display: inline-block;
    width: 190px;
}

label {
    width: 170px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 600;
    color: darkslategrey;
    vertical-align: top;
}

#text_link {
    text-align-last: right;
}

i {
    color: #17a2b8;
    cursor: pointer;
}

.invalid-feedback {
    margin-left: 170px;
}

.custom-error {
    font-size: 80%;
    color: #dc3545;
    margin-left: 170px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}