    .container-prop {
        overflow: hidden;
    }
    
    .container-fluid {
        padding: 0px;
    }
    
    .navbar {
        background: url('/assets/images/background.jpg');
        height: 4rem;
        padding: 0px !important;
    }
    
    img {
        height: 4rem;
    }
    
    .nav-margin {
        padding-top: 4rem;
    }
    
    .application-heading {
        background: #ffffff;
        width: 15.95%;
    }
    
    h1,
    h2 {
        font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
        padding-bottom: 1.2rem;
        color: darkslategrey;
    }
    
    h1 {
        font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 300;
    }
    
    h2 {
        font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 2.4rem;
        font-weight: 500;
    }
    
    h4 {
        font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 200;
        color: #17a2b8;
        display: inline;
    }
    
    h5 {
        font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 200;
        display: inline;
        color: #ffffff;
    }
    
    h6 {
        font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 200;
        display: inline;
        color: #ffffff;
    }
    
    .text-area {
        background: #f2f8f9;
    }
    
    .content-height {
        min-height: 593px;
        padding: 20px 0;
    }
    
    .sidebar-padding {
        padding-top: 30px;
        padding-right: 0px;
        padding-left: 0px;
    }
    
    .logout-prop {
        color: darkslategrey;
        text-decoration: none;
    }
    
    .user-img {
        height: 120px;
    }
    
    .dropdown-menu {
        top: 41px !important;
        left: -160px !important;
    }
    
    .dropdown-item {
        margin-top: 7px;
        padding-top: none;
        padding-right: none;
        text-align-last: left;
    }
    
    .dropdown-toggle {
        cursor: pointer;
    }
    
    .nav-link {
        cursor: pointer;
    }
    
    .class-pointer {
        cursor: pointer;
    }
    
    .dropdown-submenu {
        position: relative;
    }
    
    .dropdown-submenu>.dropdown-menu {
        top: 0;
        left: 100%;
        margin: -2.5rem 0 0;
        width: auto;
        -webkit-border-radius: 6px 0 6px 6px;
        -moz-border-radius: 0 6px 6px;
        border-radius: 6px 0 6px 6px;
    }
    
    .dropdown-submenu:hover>.dropdown-menu {
        display: block;
    }
    
    .dropdown-submenu>a:after {
        display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: #ccc;
        margin-top: 5px;
        margin-right: -10px;
    }
    
    .dropdown-submenu:hover>a:after {
        border-left-color: #fff;
    }
    
    .dropdown-submenu.pull-left {
        float: none;
    }
    
    .dropdown-submenu.pull-left>.dropdown-menu {
        left: -100%;
        margin-left: 10px;
        -webkit-border-radius: 6px 0 6px 6px;
        -moz-border-radius: 6px 0 6px 6px;
        border-radius: 6px 0 6px 6px;
    }
    
    .submenu-right {
        right: 100%;
    }
    
    .loader-mid {
        position: absolute;
        width: 100%;
        text-align: center;
        min-height: 100%;
        background: rgba(0, 0, 0, 0.2);
        z-index: 99;
    }
    
    .loader-mid .loading {
        position: absolute;
        top: 50%;
        left: 50%;
    }