<div class="container-fluid container-prop">
    <nav class="navbar fixed-top">
        <div class="application-heading">
            <img src="../../assets/images/logo_training.png" />
            
            <h4 translate>
                admin-layout.title
            </h4>
        </div>
        <div class="dropdown">
            <h5 class="nav-link dropdown" aria-expanded="true" data-toggle="dropdown">{{loginModel.username}}</h5>&nbsp;
            <ul class="dropdown-menu">
                <li class="dropdown-item">
                    <a><span *ngIf="loginModel.imageContent != null; else userImagePath">
              <img src="{{userImg}}" class="img-fluid user-img">
            </span>
            <ng-template #userImagePath>
              <img src="../../assets/images/UserImages/alternate.jpg" class="img-fluid user-img">
            </ng-template>
          </a>
                </li>
                <li class="dropdown-item">
                    <a>{{loginModel.firstName}}&nbsp;{{loginModel.lastName}}</a>
                </li>
                <li class="dropdown-submenu">
                    <a class="dropdown-item class-pointer" translate>admin-layout.settings</a>
                    <ul class="dropdown-menu submenu-right">
                        <li class="dropdown-item class-pointer" [routerLink]="['/admin/edit/profile']"><a translate>admin-layout.change-profile</a></li>
                        <li class="dropdown-item class-pointer" [routerLink]="['/admin/edit/password']"><a translate>admin-layout.change-password</a></li>
                        <li class="dropdown-divider"></li>
                        <li class="dropdown-item class-pointer" [routerLink]="['/admin/edit/template']"><a translate>admin-layout.change-template</a></li>
                    </ul>
                </li>
                <li class="dropdown-submenu" *ngIf="isSuperAdmin">
                    <a class="dropdown-item class-pointer" translate>admin-layout.manage-user</a>
                    <ul class="dropdown-menu submenu-right">
                        <li class="dropdown-item class-pointer" [routerLink]="['/admin/user/create']"><a translate>admin-layout.create-user</a></li>
                        <li class="dropdown-item class-pointer" [routerLink]="['/admin/user/list']"><a translate>admin-layout.view-users</a></li>
                    </ul>
                </li>
                <li class="dropdown-divider">
                </li>
                <li class="dropdown-item">
                    <a class="logout-prop" href="javascript:void(0)" (click)="logout()" translate>admin-layout.logout &nbsp;<i
              class="fa fa-power-off"></i></a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="row nav-margin">
        <div class="col-md-2 sidebar">
            <br>
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-md-10 text-area">
            <div class="row">
                <div class="col-sm-12 col-lg-12 col-xl-12 no-padding content-height">
                    <div class="loader-mid" appSpinner>
                        <mat-spinner mode="indeterminate" strokeWidth="3" [diameter]="60" class="loading">
                        </mat-spinner>
                    </div>
                    <router-outlet>
                    </router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>