h5 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: darkslategrey;
    font-weight: 300;
    margin-bottom: 0 !important;
}

.table-icons {
    text-align: center;
}