<div class="background">
    <form *ngIf="badRequestMessage==''" [formGroup]='resetPasswordForm' (ngSubmit)="submitPassword(resetPasswordForm)" id="resetPasswordForm" class="form login-pop-over" novalidate>

        <a [routerLink]="['']"><img src="../../../assets/images/logo_training.png"></a>

        <div class="form-group">
            <label for="newPassword" translate>change-password.new-password</label>
            <input type="password" class="form-control form-input" name="newPassword" formControlName='newPassword' #newPassword id="newPassword" autocomplete="off" [ngClass]="{ 'is-invalid': submitted && model.newPassword.errors }" reverse="true">
            <div *ngIf="submitted && model.newPassword.errors" class="invalid-feedback">
                <div *ngIf="model.newPassword.errors.required" translate>required</div>
                <div *ngIf="model.newPassword.errors.minlength" translate>change-password.min-length</div>
                <div *ngIf="model.newPassword.errors.maxlength" translate>change-password.max-length</div>
                <div *ngIf="model.newPassword.errors.pattern" translate>change-password.pattern</div>
            </div>
        </div>

        <div class="form-group">
            <label for="confirmPassword" translate>change-password.confirm-password</label>
            <input type="password" (keyup)="!passwordMatchCheck || newPasswordConfirm($event)" class="form-control form-input" name="confirmPassword" formControlName='confirmPassword' #confirmPassword id="confirmPassword" autocomplete="off" [ngClass]="{ 'is-invalid': submitted && model.confirmPassword.errors }"
                reverse="false">
            <div *ngIf="submitted && model.confirmPassword.errors" class="invalid-feedback">
                <div *ngIf="model.confirmPassword.errors.required" translate>required</div>
            </div>
            <div *ngIf="passwordMatchCheck" class="error-message" translate>change-password.unnmatch</div>
        </div>

        <div class="form-group">
            <input type="submit" value="{{'common.update-title' | translate}}" title="{{'common.upadte-title' | translate}}" class="btn btn-info">&nbsp;
            <input type="reset" value="{{'common.reset' | translate}}" title="{{'common.reset' | translate}}" (click)="resetForm(resetPasswordForm)" class="btn btn-secondary">
        </div>
    </form>
    <div *ngIf="badRequestMessage!=''" class="badRequest-message">
        {{badRequestMessage}}
    </div>
</div>