<div class="background">
    <form #passwordForm="ngForm" class="form login-pop-over" (ngSubmit)="changePassword(passwordForm)" novalidate>
        <a [routerLink]="['']"><img src="../../../assets/images/logo_training.png"></a>
        <div class="form-group">
            <p class="heading-1">Forgot Password ?</p>
            <p class="heading-2"> We will send you a link to reset your password.</p>
            <input type="text" autocomplete="off" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" placeholder="Enter your email address" [ngClass]="{ 'is-invalid': username.errors && submitted}" required (keyup)="error==''|| enterEmail($event)"
            />
            <div *ngIf="submitted && username.errors?.required" class="invalid-feedback">*required</div>
            <div *ngIf="error!=''" class="error-message">{{error}}</div>
        </div>
        <div class="form-group">
            <button class="btn btn-info form-control" type="ngSubmit">Send reset link</button>
        </div>
    </form>
</div>