.background {
    background: url('../../../assets/images/background.jpg');
    overflow: hidden !important;
    min-height: 657px;
}

.login-pop-over {
    width: 450px;
    height: auto;
    background-color: white;
    margin: 1% auto 0;
    padding: 30px 30px 10px;
    border-radius: 30px;
    text-align: center
}

.form {
    width: 350px;
    margin-top: 70px;
}

.top-margin {
    margin-top: 45px;
}

img {
    height: 250px;
    width: auto;
    padding-bottom: 30px;
}

.inner-margin {
    padding-left: 50px;
    padding-right: 50px;
}

.invalid-feedback {
    text-align: left;
}

.heading-1 {
    font-size: 19px;
    font-weight: 600;
    color: darkslategray;
}

.heading-2 {
    font-size: 13px;
    font-weight: 600;
    color: darkslategray;
}

.error-message {
    font-size: 80%;
    color: #dc3545;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    text-align: left;
}