.carousel-caption {
    color: #212529;
    text-align: right;
}

.carousel {
    margin-left: 30px;
    margin-right: 30px;
}

.card {
    margin-left: 20px;
    margin-right: 20px;
}

.categoryImg-crop {
    height: 266px;
    width: 401px;
    overflow: hidden;
}

.category-img {
    height: auto;
    width: 401px;
}

h4 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;
    color: darkslategrey;
}

.loader-mid {
    position: absolute;
    width: 100%;
    text-align: center;
    min-height: 100%;
    background: rgba(0, 0, 0, 0.1);
    z-index: 99;
}

.loader-mid .loading {
    position: absolute;
    top: 50%;
    left: 50%;
}