<div class="container body-content">
    <h3 translate>
        user-detail.title
    </h3>
    <hr>
    <div>
        <div class="form-group row">
            <div class="col-md-3">
                <input autocomplete="off" class="form-control" name="search" #search />
            </div>
            <div class="col-md-9">
                <input type="submit" value="{{'common.search' | translate}}" class="btn btn-info" title="{{'common.search' | translate}}" (click)="listing(search.value)" /> &nbsp;
                <input type="submit" value="{{'common.clear' | translate}}" class="btn btn-info" title="{{'common.clear' | translate}}" (click)="listing(search.value='')" name="all" /> &nbsp;
            </div>
            <div class=" col-md-12 page-size">
                <b translate>common.page-size</b> &nbsp;
                <select #pageSize (change)="sizeSelect(pageSize.value)">
          <option value=5>5</option>
          <option value=7>7</option>
          <option value=10>10</option>
        </select>
            </div>
        </div>
        <div class="table-responsive" *ngIf="!message">
            <table class="table table-bordered">
                <tr>
                    <th hidden translate>user-detail.userID</th>
                    <th appSort [data]="model" [sortKey]="'username'" class="sort-column" (ColumnName)="selectColumn($event)" (Direction)="selectDirection($event)" translate>user-detail.username <i *ngIf="sortColumn=='username' && sortOrder" class="fa fa-arrow-circle-up" title="{{'common.asc' | translate}}"></i><i *ngIf="sortColumn=='username' && !sortOrder" class="fa fa-arrow-circle-down" title="{{'common.desc' | translate}}"></i></th>
                    <th appSort [data]="model" [sortKey]="'emailID'" class="sort-column" (ColumnName)="selectColumn($event)" (Direction)="selectDirection($event)" translate>user-detail.emailID <i *ngIf="sortColumn=='emailID' && sortOrder" class="fa fa-arrow-circle-up" title="{{'common.asc' | translate}}"></i><i *ngIf="sortColumn=='emailID' && !sortOrder" class="fa fa-arrow-circle-down" title="{{'common.desc' | translate}}"></i></th>
                    <th translate>user-detail.access</th>
                    <th></th>
                </tr>
                <tr *ngFor="let user of model">
                    <td hidden>{{user.userID}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.emailID}}</td>
                    <td>
                        Admin
                        <input type="checkbox" #adminCheck name="adminCheck" value=2 [checked]="user.roleID.includes(2)" (change)="onChange(user.userID, adminCheck.value, $event.target.checked, customerCheck.checked ? null : customerCheck.value)" />&nbsp;
                        &nbsp;&nbsp; Customer
                        <input type="checkbox" #customerCheck name="customerCheck" value=3 [checked]="user.roleID.includes(3) || adminCheck.checked" (change)="onChange(user.userID, customerCheck.value, $event.target.checked, null)" [disabled]="adminCheck.checked ? true : false"
                        />
                    </td>
                    <td>
                        <a>
                            <i class="fa fa-save icon" aria-hidden="true" (click)="save(user.userID)" title="{{'common.update-title' | translate}}"></i>
                        </a>
                    </td>
                </tr>
            </table>
            <nav>
                <app-paging [pager]="pager" (selectedPage)='pageSelect($event)'></app-paging>
            </nav>
        </div>
        <div *ngIf="message"><br>
            <h4 class="message">{{message}}</h4>
        </div>
    </div>