<div class="container body-content">
    <h3>
        {{pageTitle}} Attribute
    </h3>
    <hr>
    <div class="col-md-12" id="text_link">
        <a [routerLink]="['/admin/product/attribute']" title="Attribute List" value="back to list">back to list</a>
    </div>
    <form #attributeForm="ngForm" (ngSubmit)="add(attributeForm)" class="form-group" novalidate>
        <div hidden>ID</div>
        <input hidden class="form-control form-input" autocomplete="off" name="AttributeID" #AttributeID="ngModel" [(ngModel)]="model.attributeID" id="AttributeID" />
        <div>
            <label for="AttributeName">Name </label>
            <input type="text" class="form-control form-input text-box" autocomplete="off" name="AttributeName" #AttributeName="ngModel" [(ngModel)]="model.attributeName" [ngClass]="{ 'is-invalid': AttributeName.errors && submitted}" id="AttributeName" (keyup)="nameCheckMessage=='' || attributeNameCheck($event)"
                maxlength="20" required />
            <div *ngIf="submitted && AttributeName.errors?.required" class="invalid-feedback">*required</div>
            <div *ngIf="nameCheckMessage!=''" class="error-message">{{nameCheckMessage}}</div>
        </div>
        <br>
        <div>
            <label></label>
            <button type="submit" [disabled]="loading" class="btn btn-info" title="Submit">Submit</button>&nbsp;
            <button type="reset" value="Reset" class="btn btn-secondary" (click)="resetForm(attributeForm)" title="Reset">Reset</button>
        </div>
    </form>
</div>